/* General Styles____________ */

body {
    background-color: antiquewhite;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}

/* Layout Styles_____________ */

.page-wrapper {
    width: 95%;
    margin: 0 auto;
}

.project {
  background-color: lightgrey;
  margin-bottom: 10px;
  border-radius: 5px;
}

footer {
    border-top: 3px solid rosybrown;
    text-align: center;
    padding: 10px 0;
}

/* Text Styles_____________ */

h1 {
    border-bottom: solid 2px rosybrown;
    line-height: 50px;
}

h3 {
    margin-bottom: 0;
}

h3 + h4 {
    margin-top: 0;
}

.proj-title {
    margin: 15px 0;
}

/* Special Styles____________ */

nav a {
    padding: 0 5px;
    color: rosybrown;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background-color: rosybrown;
}

nav a:active {
    padding: 0 10px;
}

section a {
    text-decoration: none;
    color: black;
}

section a:hover {
    text-decoration: none;
    color: rosybrown;
    font-weight: 700;
}

.proj-btn {
  margin-right: 10px;
  margin-bottom: 15px;
}

/* Image Styles____________ */

.icon {
    width: 45px;
}

.icon:hover {
    opacity: .65;
}

.proj-img {
  max-width: 85%;
  display: block;
  margin: 10px auto;
}